    {{> head }}

    {{> navbar }}

        <div class="row">


            <div class="col-9">
                <h1>Sobre mi</h1>
                <p>Ut occaecati vel nihil deserunt quidem. Rerum et fuga error provident. In labore iure ducimus assumenda
                    adipisci asperiores quas aliquid. Ut veritatis qui voluptatem mollitia ipsa ut est. Animi enim cum et
                    consequatur et rerum fugit.

                    Magni nostrum velit et doloremque facere. Modi dolorum rerum qui ea rerum magni debitis. Ut natus et odit
                    non fuga quo. Iusto ea ut qui et doloribus porro.

                    Quisquam quaerat quia sint alias quasi reprehenderit quia et aspernatur. Officia est recusandae fuga iusto
                    aliquam odio. Quia dolorem sed velit et in et tempore deserunt. Voluptas soluta quia dicta voluptatem
                    corrupti. Non quae omnis quis quaerat sequi molestiae eius magnam. Omnis voluptatum et ut magnam blanditiis
                    nisi magni.</p>
            </div>
            <div class="col-3">
                <img src="assets/img/gustavo.jpg" alt="Foto de Gustavo" class="img-thumbnail img-gustavo">
            </div>
        </div><!-- end row -->


    {{> footer }}