footer {
    background-color: #033A6E;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.img-gustavo {
    height: 250px;
    margin: 0, auto;
    text-align: center;
    padding:0 100px 0 100px;
}